body{
  width: 99%;
}
a { 
  text-decoration: none;
  color: #000;
}

ul{
  list-style-type: none;
}

.menu{
  background: red;
  height: 50px;
}

.menu-general{
  width: 50%;
  margin-left: 5%;
}
.menu-general li{
  display: inline-block; 
}


.menu-user{
  margin-right: 10%;
}

#user ul li{
  display: none;
}

#user ul li:hover{
  display:block;
}

#user ul:hover > li{
  display:block;
}

