/*h1{
  text-align: center;
}

*/.menu {
  background-color: red;

}

.menu-general li{
  display: inline-block;
}
.menu-general{
  display: inline-block;
}
/*
a{
  text-decoration: none;
  color: black;
}

.menu-user {
  position: relative;
  right: 5%;
}

.menu-user li ul{
  display: none;
}

.menu-user li a{
  text-decoration: none;
  display: block;
}

.menu-user ul li:hover{
  display: block;
}

.menu-user li:hover > ul{
  display: block;
}